body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 25%;
}

#header {
    text-align: center;
}

/* #body {
    flex: 3;
} */